#articles-flex {
  display: flex;
  height: 1000px;

  .articles {
    margin-right: 25px;
    
    img {
      width: 261px;
      height: 200px;
      border-radius: 5px 5px 0px 0px;
    }

    .articles-text {
      padding: 25px;
    }
  }
}