#articles-flex {
  display: flex;
  padding-bottom: 70px;

  .articles {
    margin-right: 25px;
    
    img {
      width: 261px;
      height: 200px;
      border-radius: 5px 5px 0px 0px;
    }

    .articles-text {
      padding: 25px 16px 25px 25px;

      span {
        font-size: 11px;
        color: #9698a6;
        display: inline-block;
        margin-bottom: 15px;
      }

      h4 {
        font-size: 20px;
        margin-bottom: 15px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}