#articles-flex {
  display: flex;
  padding-bottom: 70px;

  .articles {
    margin-right: 25px;
    transition: 0.35s;
    cursor: pointer;
    
    img {
      width: 261px;
      height: 200px;
      border-radius: 5px 5px 0px 0px;
    }

    .articles-text {
      padding: 25px;

      span {
        font-size: 11px;
        color: #9698a6;
        display: inline-block;
        margin-bottom: 15px;
      }

      h4 {
        font-size: 20px;
        margin-bottom: 15px;

        &:hover {
          text-decoration: underline;
        }
      }

      p {
        font-size: 16px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &:hover {
      transform: scale(1.15);
    }
  }
}