* {
  font-family: 'Public Sans', sans-serif;
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

main {
  background-color: #fafafa;
}

h1, h2, h3, h4 {
  color: #2d314d;
  font-weight: 100;
}

h1 + p, h2 + p{
    margin-bottom: 40px;
}

h2 {
  font-size: 250%;
  margin-bottom: 40px;
}

p {
  color: #9698a6;
  font-size: 18px;
}

.container {
  max-width: 1160px;
  padding: 20px;
  margin: 0 auto;
}

.buttons {
  font-size: 14px;
  font-weight: bold;
  width: 160px;
  height: 44px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(
  104deg , #31d35c, rgb(43, 183, 218));
  transition: 0.3s;

  &:hover {
    filter: saturate(140%);
  }
}