footer {
  background-color: #2d314d;
  padding: 30px 0 30px 0;

  #footer-content {
    height: 100px;
    display: flex;
    justify-content: space-between;

    #footer-media {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      #social-media {
        ul {
          display: flex;
    
          li:not(:last-child) {
            margin-right: 15px;
          }

          a img:last-child {
            display: none;
          }

          a:hover img:first-child {
            display: none;
          }

          a:hover img:last-child {
            display: inline;
          }
        }
      }
    }
  
    ul.links-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      a {
        font-size: 18px;
        color: #fff;
        transition: 0.3s;

        &:hover {
          color: #34A15A;
        }
      }
    }

    #footer-end {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      span {
        color: #9698a6;
      }
    }
  }
}