header {
  z-index: 10;
  position: relative;
  background-color: #fff;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;

      a {
        color: #9698a6;
        font-size: 16px;
        margin-left: 30px;
        transition: 0.3s;

        &:hover {
          color: #000;
        }
      }
    }
  }
}