header {
  z-index: 10;
  position: relative;
  background-color: #fff;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;

      a {
        color: #9698a6;
        font-size: 16px;
        margin-left: 30px;
        transition: 0.3s;

        &:hover {
          color: #000;
        }
      }
    }
  }
}

// ===== TESTE ===== //
/*body#home {
  .active::after {
    content: '';
    display: block;
    width: 60%;
    height: 4px;
    position: relative;
    top: 29px;
    left: 41px;
    cursor: default;
    background: linear-gradient(
    104deg , #31d35c, rgb(43, 183, 218));
  }

  header{
    #logo {
      transform: translateY(4px);
      margin-right: -30px;
    }

    ul {
      transform: translateY(12px);

      a.active {
        color: #000;
        padding: 0 15px;
      }
    }
  }
}*/
// ===== TESTE ===== //