#main-div {
    height: 696px;
    display: flex;
    align-items: center;

    div#main-div-text {
      width: 50%;

      h1 {
        font-size: 350%;
        font-weight: 100;
        color: hsl(233, 26%, 24%);
        margin-bottom: 40px;
      }

      p {
        color: #9698a6;
        margin-bottom: 40px;
      }
    }
}






