div#main-div-imgs {
  position: relative;

  img#intro {
    position: absolute;
    top: -608px;
    left: 6px;
  }

  img#phone {
    position: absolute;
    top: -463px;
    left: 201px;
  }

  img#intro-mobile {
    margin-top: -20px;
    display: none;
  }
}