* {
  font-family: 'Public Sans', sans-serif;
  margin: 0%;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
  background-color: #fafafa;
}

h1, h2, h3, h4 {
  color: #2d314d;
  font-weight: 100;
}

h1 + p, h2 + p {
  margin-bottom: 40px;
}

h2 {
  font-size: 250%;
  margin-bottom: 40px;
}

p {
  color: #9698a6;
  font-size: 18px;
}

.container {
  max-width: 1160px;
  padding: 20px;
  margin: 0 auto;
}

.buttons {
  font-size: 14px;
  font-weight: bold;
  width: 160px;
  height: 44px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(104deg, #31d35c, #2bb7da);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.buttons:hover {
  -webkit-filter: saturate(150%);
          filter: saturate(150%);
}

header {
  z-index: 10;
  position: relative;
  background-color: #fff;
}

header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-content ul a {
  color: #9698a6;
  font-size: 16px;
  margin-left: 30px;
}

body#home .active::after {
  content: '';
  display: block;
  width: 60%;
  height: 4px;
  position: relative;
  top: 29px;
  left: 41px;
  background: linear-gradient(104deg, #31d35c, #2bb7da);
}

body#home header #logo {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  margin-right: -30px;
}

body#home header ul {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

body#home header ul a.active {
  color: #000;
  padding: 0 15px;
}

#main-div {
  height: 696px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-div div#main-div-text {
  width: 50%;
}

#main-div div#main-div-text h1 {
  font-size: 350%;
  margin-bottom: 40px;
}

div#main-div-imgs {
  position: relative;
}

div#main-div-imgs img#intro {
  position: absolute;
  top: -608px;
  left: 6px;
}

div#main-div-imgs img#phone {
  position: absolute;
  top: -463px;
  left: 201px;
}

#cards-bg {
  background-color: #f3f4f6;
  padding: 60px 0 60px 0px;
}

#cards-bg #cards-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cards-bg #cards-flex :not(:last-child) {
  margin-right: 25px;
}

#cards-bg .cards {
  margin-top: 35px;
  width: 300px;
}

#cards-bg .cards img {
  margin-bottom: 40px;
}

#cards-bg .cards h3 {
  font-size: 138%;
  margin-bottom: 30px;
}

#articles-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 70px;
}

#articles-flex .articles {
  margin-right: 25px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  cursor: pointer;
}

#articles-flex .articles img {
  width: 261px;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
}

#articles-flex .articles .articles-text {
  padding: 25px;
}

#articles-flex .articles .articles-text span {
  font-size: 11px;
  color: #9698a6;
  display: inline-block;
  margin-bottom: 15px;
}

#articles-flex .articles .articles-text span:hover {
  text-decoration: underline;
}

#articles-flex .articles .articles-text h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

#articles-flex .articles .articles-text h4:hover {
  text-decoration: underline;
}

#articles-flex .articles .articles-text p {
  font-size: 16px;
}

#articles-flex .articles .articles-text p:hover {
  text-decoration: underline;
}

#articles-flex .articles:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-box-shadow: 0px 0px 7px 0px #8080804d;
          box-shadow: 0px 0px 7px 0px #8080804d;
}

footer {
  background-color: #2d314d;
  padding: 30px 0 30px 0;
}

footer #footer-content {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer #footer-content #footer-media {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer #footer-content #footer-media #social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #footer-content #footer-media #social-media ul li:not(:last-child) {
  margin-right: 15px;
}

footer #footer-content #footer-media #social-media ul a img:last-child {
  display: none;
}

footer #footer-content #footer-media #social-media ul a:hover img:first-child {
  display: none;
}

footer #footer-content #footer-media #social-media ul a:hover img:last-child {
  display: inline;
}

footer #footer-content ul.links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer #footer-content ul.links-list a {
  font-size: 18px;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer #footer-content ul.links-list a:hover {
  color: #34A15A;
}

footer #footer-content #footer-end {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer #footer-content #footer-end span {
  color: #9698a6;
}
/*# sourceMappingURL=main.css.map */