* {
  font-family: 'Public Sans', sans-serif;
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  overflow: hidden;
}

p {
  font-size: 18px;
}

.container {
  max-width: 1160px;
  padding: 20px;
  margin: 0 auto;
}

/*=========== START HEADER ===========*/
header {
  z-index: 10;
  background-color: #fff;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content nav ul {
  display: flex;
}

.header-content nav ul li a {
  color: #9698a6;
  font-size: 16px;
  padding: 0 15px;
}

.buttons {
  font-size: 14px;
  font-weight: bold;
  width: 160px;
  height: 44px;
  border: none;
  border-radius: 50px;
  color: #fff;
  background: linear-gradient(
  104deg , #31d35c, rgb(43, 183, 218));
}

/*=========== HEADER END ===========*/

div.main-div-bg {
  background-color: hsl(0, 0%, 98%);
  z-index: -50;
}

div#main-div {
  height: 613px;
  display: flex;
  align-items: center;
}

div#main-div-text {
  width: 50%;
}

div#main-div-text h1 {
  font-size: 350%;
  font-weight: 100;
  color: hsl(233, 26%, 24%);
  margin-bottom: 40px;
}

div#main-div-text p {
  color: #9698a6;
  margin-bottom: 40px;
}

div#main-div-imgs {
  position: relative;
}

div#main-div-imgs img#intro{
  position: absolute;
  top: -586px;
  left: 6px;
  z-index: -10;
}


div#main-div-imgs img#phone{
  position: absolute;
  top: -444px;
  left: 201px;
  z-index: -10;
}
